@font-face {
  font-family: 'Circular-Book';
  src: url('./Circular-Book.otf') format('opentype');
  unicode-range: U+0000-00FF;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular-Medium';
  src: url('./Circular-Medium.otf') format('opentype');
  unicode-range: U+0000-00FF;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular-Bold';
  src: url('./Circular-Bold.otf') format('opentype');
  unicode-range: U+0000-00FF;
  font-weight: 700;
  font-style: normal;
}